# **Loading the data**

In [26]:
!gdown 1sNNnoQApDF2TZZ16NmeduLEXC7aJwZpT

Downloading...
From: https://drive.google.com/uc?id=1sNNnoQApDF2TZZ16NmeduLEXC7aJwZpT
To: /content/employees.csv
100% 200/200 [00:00<00:00, 958kB/s]

In [27]:
!gdown 1-x_MO_L7Eu4qb2f7vQvcm3pq5NRGQXow

Downloading...
From: https://drive.google.com/uc?id=1-x_MO_L7Eu4qb2f7vQvcm3pq5NRGQXow
To: /content/performance.csv
100% 101/101 [00:00<00:00, 367kB/s]

In [28]:
!gdown 17ClKZVkwN9i-0A7Z2aXO-ozDtuO-_qq2

Downloading...
From: https://drive.google.com/uc?id=17ClKZVkwN9i-0A7Z2aXO-ozDtuO-_qq2
To: /content/salaries.csv
100% 140/140 [00:00<00:00, 549kB/s]

In [30]:
import numpy as np

In [39]:
import pandas as pd

employees = pd.read_csv('employees.csv', parse_dates=['join_date'])
salaries = pd.read_csv('salaries.csv', parse_dates=['effective_date'])
performance = pd.read_csv('performance.csv')

In [40]:
df = employees.merge(salaries, on='employee_id').merge(performance, on='employee_id')

# Add experience in years
df['experience_years'] = (pd.Timestamp.today() - df['join_date']).dt.days // 365

In [41]:
print(df.head())
print(df.info())
print(df.describe())

   employee_id     name   department  join_date  age  salary effective_date  \
0          101    Alice           HR 2018-06-01   29   70000     2023-01-01
1          102      Bob  Engineering 2017-08-10   34   90000     2023-01-01
2          103  Charlie    Marketing 2019-02-20   26   60000     2023-01-01
3          104    David  Engineering 2015-11-15   40  110000     2023-01-01
4          105      Eva           HR 2020-03-05   31   65000     2023-01-01

   year  performance_rating  experience_years
0  2022                 4.5                 7
1  2022                 3.9                 7
2  2022                 4.7                 6
3  2022                 4.1                 9
4  2022                 4.9                 5
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   employee_id         5 non-null      int64
 1   name                5 non-null      object
 2   department          5 non-null      object
 3   join_date           5 non-null      datetime64[ns]
 4   age                 5 non-null      int64
 5   salary              5 non-null      int64
 6   effective_date      5 non-null      datetime64[ns]
 7   year                5 non-null      int64
 8   performance_rating  5 non-null      float64
 9   experience_years    5 non-null      int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(2)
memory usage: 532.0+ bytes
None
       employee_id            join_date        age         salary  \
count     5.000000                    5   5.000000       5.000000
mean    103.000000  2018-03-29 14:24:00  32.000000   79000.000000
min     101.000000  2015-11-15 00:00:00  26.000000   60000.000000
25%     102.000000  2017-08-10 00:00:00  29.000000   65000.000000
50%     103.000000  2018-06-01 00:00:00  31.000000   70000.000000
75%     104.000000  2019-02-20 00:00:00  34.000000   90000.000000
max     105.000000  2020-03-05 00:00:00  40.000000  110000.000000
std       1.581139                  NaN   5.338539   20736.441353

            effective_date    year  performance_rating  experience_years
count                    5     5.0            5.000000           5.00000
mean   2023-01-01 00:00:00  2022.0            4.420000           6.80000
min    2023-01-01 00:00:00  2022.0            3.900000           5.00000
25%    2023-01-01 00:00:00  2022.0            4.100000           6.00000
50%    2023-01-01 00:00:00  2022.0            4.500000           7.00000
75%    2023-01-01 00:00:00  2022.0            4.700000           7.00000
max    2023-01-01 00:00:00  2022.0            4.900000           9.00000
std                    NaN     0.0            0.414729           1.48324

In [42]:
df.to_csv("merged.csv", index=False)

In [43]:
# 1. Average salary per department
avg_salary = df.groupby('department')['salary'].mean().reset_index()

# 2. Top performers
top_performers = df[df['performance_rating'] > 4.5]

# 3. Correlation
correlation = df[['salary', 'experience_years', 'performance_rating']].corr()